[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/glew"]
	path = extern/glew
	url = https://github.com/nigels-com/glew
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/Jetson-Nano-BerryIMU"]
	path = extern/Jetson-Nano-BerryIMU
	url = https://github.com/m516/Jetson-Nano-BerryIMU.git
